<!DOCTYPE html>
<html>
<head>
	<title>
		about
	</title>
	<meta content="width=device-width, initial-scale=1" name="viewport" />
	<link rel="stylesheet" type="text/css" href="/static/css/dashboard.css">
	<link rel="stylesheet" type="text/css" href="/static/css/quiz.css">
	<link href="https://fonts.googleapis.com/css?family=Work+Sans:500&display=swap" rel="stylesheet">
	</head>
<body>
    <div class="box">
        <div class="top">
            <img src="/static/img/mmil_logo.jpg" width="50px"><a href="dashboard.html">MMIL</a>
        </div>
        <div class="center">
            <div class="info-1">
            <a href="/QuizPortal/events" class="about" style="font-size: 17.5px;">Live Events</a>
            </div>	
    </div>
    <p style="text-align: left;font-size: 23px;margin-top: 100px;color: black;">
        This is a multiple quiz portal with live leaderboard.
         
        <a>Features of this Portal are as follows:</a>
            ✅ Login for both organizer and participants.
            ✅ Create quiz functionality for organizers.
            
            ✅ Validity limit of quiz added by organizer.
            
            ✅ Live Leaderboard for every quiz
            
           Signup yourself and enjoy, voila!!💫
        
        </a> 
    </p>
    <script src="/static/js/app.js"></script>
    </body>
    </html>