

<!DOCTYPE html>
<html>
<head>
	<title>
		QuizPortal
	</title>
	<!-- <meta content="width=device-width, initial-scale=1" name="viewport" /> -->
		<meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, height=device-height" />
	<link rel="stylesheet" type="text/css" href="/static/css/dashboard.css">
	<link rel="stylesheet" type="text/css" href="/static/css/signup.css">
</head>
<body>
<div class="box">
	<div class="top">
		<img src="/static/img/mmil_logo.jpg" width="50px"><a href="/">MMIL</a>
		
		<button onclick="logout()"class="button">Log Out</button>
	
	</div>
	<div class="center">
		<div class="info-1 active">
			<a href='/QuizPortal/'>About</a>
		</div>
		<div class="info-1">
			<a href='/QuizPortal/events'>Live Events</a>
		</div>		
		<div class="info-1">
			<a href='/QuizPortal/contact'>contact</a>
		</div>	
	 </div>
	<div class="bottom">
	</div>
</div>
<script src="/static/js/app.js"></script>
</body>
</html>