<!DOCTYPE html>
<html>
<head>
	<title>
		Events
	</title>
	<meta content="width=device-width, initial-scale=1" name="viewport" />
	<!-- <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
	<link rel="stylesheet" type="text/css" href="/static/css/dashboard.css">
	<!-- <link rel="stylesheet" type="text/css" href="{% static 'css\login.css' %}"> -->
	<link rel="stylesheet" type="text/css" href="/static/css/events.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Work+Sans:500&display=swap" rel="stylesheet">
</head>
<body>
    <div class="box">
        <div class="top">
            <img src="/static/img/mmil_logo.jpg" width="50px"><a href="/">MMIL</a>
            {{if .Checksession}} 
            <button onclick="logout()" class="button">Log Out</button>
            {{else}}
            <button onclick="login()">Log In</button>
            <button onclick="signup()">Sign Up</button>
            {{end}}
        </div> 
        <div class="center">
            {{ if .Usertype }}
            <div class="info-1">
                <a href='/QuizPortal/organizer/dashboard' class="event">Dashboard</a>
            </div>
            {{ else }}
            <div class="info-1">
                <a href='/QuizPortal/login/dashboard' class="event">About</a>
            </div>
            {{ end}}
            <div class="info-1 active">
                <a href="/QuizPortal/events" class="about">Live Events</a>
            </div>	
            <div class="info-1">
                <a href='/QuizPortal/contact' class="contact">contact</a>
            </div>
        </div>
         <div class="list">
        {{range .Elist}}
            <div class="events">
                <div class="header">{{ .Eventsname }}</div>
                <p>{{.Eventdescription}}</p>
               {{ if and (.After) (.Before)}}
                      <p>Live till </p>
                      <p>{{.Enddate}}</p>
                      <p>{{.Etime}}</p>
                      <form method="GET" action="/quiz/">
                         <div>
                          <input type="hidden" name="eventname" value="{{.Eventsname}}">
                         
                          <input type="submit" name="nothing" value="Join Now">
                          
                          </div>
                         </form>
                {{else if not (.Before) }}
                <p>Will be Live Soon</p>
                {{ else}}
                <p>Event Expired</p>
                 {{end}}   
                </div>
            {{end}}
        </div>
    </div>
    <script src="/static/js/app.js"></script>
</body>
</html>    