<!DOCTYPE html>
<html>
<head>
	<title>
		QuizPortal
	</title>
	<meta content="width=device-width, initial-scale=1" name="viewport" />
	<link rel="stylesheet" type="text/css" href="/static/css/dashboard.css">
	<link rel="stylesheet" type="text/css" href="/static/css/leaderboard.css">
</head>
<body>
<div class="box">
	<div class="top">
		<img src="/static/img/mmil_logo.jpg" width="50px"><a href="QuizPortal/login/dashboard">MMIL</a>
		{{ if .Checksession}}
		<button onclick="logout()" class="button">LogOut</button>
		{{else}}
		<button onclick="login()">Log In</button>
		<button class="signn" onclick="signup()">Sign Up</button>
		{{end}}
	</div>
	<div class="center">
		<div class="info-1">
			<a href='/QuizPortal/events' class="event">Live Events</a>
		</div>
	    
		 <form method="POST" action="/quiz/">
				<input type="hidden" name="eventname" value="{{ .Event }}">
				<button type="submit" class="btn1">{{ .Event }}</button>
		</form>	
		<div class="info-1">
			<a href='/QuizPortal/contact' class="contact">contact</a>
		</div>
	</div>
	<div class="bottom">
		<p>LeaderBoard</p>
		<div class="leaderboard">
	     {{ range .List}}
		<div class="block">
			<div class="left">{{ .Username }}</div>
			<div class="right">{{ .Points }}</div>
		</div>
		{{end}}
	</div>
	</div>
</div>
<script src="/static/js/app.js"></script>
</body>
</html>