
<!DOCTYPE html>
<html>
<head>
	<title>
		Log In
	</title>
	<meta content="width=device-width, initial-scale=1" name="viewport" />
	<link rel="stylesheet" type="text/css" href="/static/css/dashboard.css">
	<link rel="stylesheet" type="text/css" href="/static/css/login.css">

</head>
<body>
	<!-- {% if login %}
		<script type="text/javascript">
  		alert("Incorrect Username/Password 💔💔💔")
		</script>
	{% endif %} -->
<div class="box">
	<div class="top">
		<img src="/static/img/mmil_logo.jpg" width="50px"><a href="/">MMIL</a>
		{{if .Checksession}}
		<button class="button" onclick="logout()">Log Out</button>
		{{ else }}
		<button onclick="login()">Log In</button>
		<button class="signn" onclick="signup()">Sign Up</button>
		{{ end}}
	</div>
	<div class="center">
		<div class="info-1">
			<a href="/QuizPortal" class="">About</a>
		</div>
		<div class="info-1">
			<a href='/QuizPortal/events' class="">Live Events</a>
		</div>	
		<div class="info-1">
			<a href='/QuizPortal/contact' class="contact">contact</a>
		</div>
	</div>
	<div class="bottom">
		<div class="signupbox">
			<form method="POST">
				
				<h2 style="font-family: arca">ORGANISER SIGN IN</h2>
				<input type="text" name="username" required="" placeholder="username">
				<input type="password" name="password" required="" placeholder="password">
				<input type="submit" name="submit" value="Submit">
			</form>
		</div>
	</div>
</div>
<script src="/static/js/app.js"></script>
</body>
</html>