<!-- {% load static %} -->
<!DOCTYPE html>
<html>
<head>
	<title>
		SignUp
	</title>
	<meta content="width=device-width, initial-scale=1" name="viewport" />
	<link rel="stylesheet" type="text/css" href="/static/css/dashboard.css">
	<link rel="stylesheet" type="text/css" href="/static/css/signup.css">
</head>
<body>
<div class="box">
	<div class="top">
		<img src="../static/img/mmil_logo.jpg" width="50px"><a href="/">MMIL</a>
		
		<button onclick="login()">Log In</button>
		<button class="signin" onclick="signup()">Sign Up</button>
		
	</div>
	<div class="center">
		<div class="info-1 ">
			<a href="/" class="about">About</a>
		</div>
		<div class="info-1">
			<a href='/QuizPortal/events' class="event">Live Events</a>
		</div>
<!-- 		<div class="info-1">
			<a href='/' class="leacerboard">leaderboard</a>
		</div>	 -->
		<div class="info-1">
			<a href='/QuizPortal/contact' class="contact">contact</a>
		</div>
		<!-- <a href="#">About</a> -->
	</div>
	<div class="bottom">
		<div class="signupbox">
			<form method="POST">
				
				<input type="text" name="username" required="" placeholder="USER NAME">
				<input type="email" class="form-controll" name="email" id="inputEmail3" placeholder="Email" required>
				<input type="text" name="branch" required="" placeholder="Branch">
				<input type="text" name="year" required="" placeholder="Year">
				<input type="text" name="college" required="" placeholder="College">
				<input type="text" pattern="[0-9]{10}" class="form-controll" name="contact" title="Please enter a 10 digit Number" id="inputEmail3" placeholder="Contact No" required>
				<input type="password" name="password" required="" placeholder="password">
				<input type="submit" name="submit" value="Submit">	
			</form>
		</div>
	</div>
</div>
<script src="/static/js/app.js"></script>
</body>
</html>